.clearfix.slicer
  - @slicer.cuts.each do |dim, path|
    .breadcrumb.clearfix
      .main
        %a.cancel{:href => url_for(:path => nil)}
          = image_tag "cancel_white.png"
        %span= dim.label
      - levels = dim.default_hierarchy.levels[0..(path.count-1)]
      - current_level = 1
      - levels.each do |level|
        - detail = @slicer.to_slice.dimension_detail_at_path(dim, path)
        - title = detail[level.short_description_field.to_sym]
        - if title.present?
          %div.middle
            %a{:href => url_for(params.merge(:path => @path[0..current_level].join('-')))}
              = truncate(title.to_s, :length => 100)
        - current_level += 1