/* @group Typo */

body { font: 11px "Lucida Grande"; }

h1 { color: #232323; font-size: 17px; font-weight: bold; }

h2 { font-size: 16px; color: #0f5a9f; }

a { color: #383838; }

a.light { color: #a8aeb2; text-decoration: none; }



/* @end */

/* @group Layout */

body { background: #ececec url(../images/background.png) repeat-x; }

#header { height: 30px; background: url(../images/logo.png) no-repeat 30px 2px; text-align: right; width: 996px; margin: 10px auto auto; }

#header ul.links { padding-top: 10px; padding-right: 24px; color: #bec5c9; }

#container { width: 996px; margin: 10px auto auto; }

#navigation { background-image: url(../images/navigation_background.png); height: 45px; }

#content { padding: 20px 40px; background-image: url(../images/container_background.png); }

#content .left_column, #content .right_column { float: left; width: 450px; }

#content .left_column { margin-right: 15px; }

#footer { height: 35px; background-image: url(../images/footer_background.png); }



/* @end */

/* @group Data Views */

/* @group Table */

table.data_table { border: 1px solid #e1e5e8; -webkit-border-radius: 3px; -moz-border-radius: 3px;  }

table.data_table th { background-color: #81a3ca; padding: 7px 12px; font-size: 12px; color: #fff; text-shadow: #6782a2 0 1px 0; }

table.data_table th:first-child { -webkit-border-top-left-radius: 3px; -moz-border-radius-topleft: 3px; }

table.data_table th:last-child { -webkit-border-top-right-radius: 3px; -moz-border-radius-topright: 3px; }

table.data_table td { padding: 7px 12px; }

/* Particular columns */

table.data_table th.suma { width: 90px; }

table.data_table th.podiel { width: 50px; }



/* @end */



/* @end */