/* @override 
	http://localhost:3000/stylesheets/application.css?1
	http://localhost:3001/stylesheets/application.css?1
*/

/* @group Plugins */

/* @group Tipsy */

.tipsy { padding: 5px; font-size: 11px; position: absolute; z-index: 100000; }
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
  .tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-arrow { position: absolute; background: url('../images/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
  .tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
  .tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
  .tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }



/* @end */



/* @end */

/* @group Typo */

body { font: 11px "Lucida Grande"; }

h1 { color: #232323; font-size: 17px; font-weight: bold; }

h1 em { font-weight: normal; font-style: normal; color: #9e9e9e; }

h2 { font-size: 16px; color: #0f5a9f; }

a { color: #383838; }

a.light { color: #a8aeb2; text-decoration: none; }



/* @end */

/* @group Layout */

body { background: #ececec url(../images/background.png) repeat-x; }

#header { background: url(../images/logo.png) no-repeat 15px 0; text-align: right; width: 996px; margin: 10px auto auto; height: 45px; }

div.links { padding-top: 10px; padding-right: 24px; color: #bec5c9; }

div.links a { color: #424242; }

#header a.header { display: block; height: 35px; width: 370px; }

#container { width: 996px; margin: 10px auto 0; padding-bottom: 30px; }

#navigation { background-image: url(../images/navigation_background.png); height: 45px; text-align: left; position: relative; }

ul.nav { position: absolute; left: 30px; top: 9px; }

ul.nav.secondary { right: 20px; left: inherit; }

ul.nav li { float: left; padding-right: 12px; padding-left: 12px; }

ul.nav li.active { background-color: #fbfbfb; -webkit-border-radius: 3px; -moz-border-radius: 3px; border: 1px solid #ddd; }

ul.nav li a { color: #6e6e6e; font-weight: bold; text-decoration: none; font-size: 12px; }

#content { padding: 20px 40px; background-image: url(../images/container_background.png); }

#content .left_column, #content .right_column { float: left; width: 450px; }

#content .left_column { margin-right: 15px; }

#footer { height: 50px; background: url(../images/footer_background.png) no-repeat; padding-top: 30px; padding-bottom: 10px; }



/* @end */

/* @group Data Views */

/* @group Table */

table.data_table { border: 1px solid #e1e5e8; -webkit-border-radius: 3px; -moz-border-radius: 3px;  }

table.data_table th { background-color: #81a3ca; font-size: 12px; color: #fff; text-shadow: #6782a2 0 1px 0;
	padding: 6px 12px;
}

table.data_table th a { font-size: 12px; color: #fff; text-shadow: #6782a2 0 1px 0; text-decoration: none; }

table.data_table th a:hover { text-decoration: underline; }

table.data_table th:first-child { -webkit-border-top-left-radius: 3px; -moz-border-radius-topleft: 3px; }

table.data_table th:last-child { -webkit-border-top-right-radius: 3px; -moz-border-radius-topright: 3px; }

table.data_table td {
	padding: 6px 12px;
}

/* Particular columns */

table.data_table a.detail { display: block; width: 16px; height: 16px; background: url(../images/table_arrow.png) 0 -16px; }

table.data_table tr:hover a.detail { display: block; width: 16px; height: 16px; background: url(../images/table_arrow.png) 0 0; }

table.data_table tr td .stripped { display: inline; }

table.data_table tr td .full { display: none; position: absolute; width: 185px; background: #fff; padding-bottom: 3px; }

table.data_table tr.even td .full { background-color: #e5ecf9; }

table.data_table tr:hover td .stripped { display: none; }

table.data_table tr:hover td .full { display: inline;
}

/* @group Sorting */

table.data_table th a.sort { display: block; }

table.data_table a.sort.asc { padding-right: 10px; background: url(../images/sort_asc.png) no-repeat right center; }

table.data_table a.sort.desc { padding-right: 10px; background: url(../images/sort_desc.png) no-repeat right center; }



/* @end */



/* @end */



/* @end */

/* @group Details */

.unknown {
	font-style: italic;
}

.details table th {
	width: 200px;
}

.details table.narrow th {
	width: 100px;	
}

.details {
	font-size: 11px;
}

.details dt { float: left; font-size: 15px; color: #424242; font-weight: normal; width: 200px; }

.details dd { float: left; font-size: 15px; color: #3c3c3c; }

/* @end */

/* @group Header */

.header { margin-bottom: 20px; }



/* @end */

/* @group Status */

.status { margin-left: -22px; padding: 20px; background: #f3f3f3 url(../images/status_background.png) repeat-x; width: 920px; margin-bottom: 15px; color: #fff; font-size: 11px; border-bottom: 1px solid #dedede; text-transform: none; }

.status em { color: #b3b3b3; font-style: normal; }

.status .cut { margin-right: 10px; background-color: #4b4b4b; -webkit-border-radius: 15px; -moz-border-radius: 15px; padding: 3px 6px 5px 12px; margin-bottom: 3px; }

.status .dimension { margin-right: 5px; }

.status a { margin-left: 5px; }

.status a img { position: relative; top: 2px; }



/* @end */

/* @group Other / Messages */

.small_box { width: 450px; }

.small_box dt, .small_box dd { float: none; }

span.color { width: 15px; height: 15px; padding-right: 10px; margin-right: 10px; }

.note { color: #b7b7b7; font-size: 20px; text-align: center; padding-top: 50px; padding-bottom: 50px; }



/* @end */

/* @group Buttons */

a.button { float: left; display: block; padding: 8px; border: 1px solid #cdcdcd; background-image: url(../images/button_regular.png); font-size: 13px; font-weight: bold; color: #727272; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; margin-left: 5px; }

a.button:active { background-image: url(../images/button_active.png); }

a.button.highlighted { background-image: url(../images/button_highligted.png); border: 1px solid #bec8d2; color: #8295a4; }

a.button.blue { background-image: url(../images/button_blue.png); display: block; border: 1px solid #88a8cd; color: #6286b0; font-size: 11px; text-transform: uppercase; font-weight: bold; padding: 5px 8px; text-shadow: #c6d2df 0 1px 0; }

a.button.simple { display: block; border: 1px solid #cecece; color: #424242; font-size: 11px; font-weight: bold; padding: 5px 8px 4px; background: url(../images/button_simple.png) 0 -1px; }

a.button.simple:active { background-position: 0 -25px; }

a.tab { float: left; display: block; border: 1px solid #cdcdcd; font-size: 13px; font-weight: bold; color: #727272; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; margin-left: 0; padding: 5px 10px; background: url(../images/tabs.png) 0 -1px; }

a.tab:active { background-position: 0 -29px; }

a.tab.active { background-position: 0 -57px; border-color: #4274b4; color: #fff; }

a.tab:first-child { -webkit-border-top-right-radius: 0px; -webkit-border-bottom-right-radius: 0px; }

a.tab:last-child { -webkit-border-top-left-radius: 0px; -webkit-border-bottom-left-radius: 0px; }

.tab_label { margin-right: 10px; font-size: 13px; color: #6f6f6f; padding-top: 5px; }



/* @end */

/* @group Tabs */

div.tab_bar { background-color: #e6e6e6; margin: -20px 0 20px -22px; width: 950px; padding-top: 10px; padding-bottom: 0; padding-left: 10px; border-bottom: 1px solid #c9c9c9; }

div.tab_bar a { background: #ddd none; border: none; -webkit-border-radius: 0px; -moz-border-radius: 0px; margin-right: 5px; padding: 8px 20px; position: relative; top: 1px; border-bottom: 1px solid #ddd; }

div.tab_bar a.tab.active { background-image: none; background-color: #fff; color: #1c1c1c; border: 1px solid #c9c9c9; border-bottom: 1px solid #fff; }



/* @end */

/* @group Pagination */

ul.pagination { padding: 0px; list-style-type: none; }

ul.pagination li { float: left; border: 1px solid #ddd; padding: 3px 6px; margin-right: 5px; }

ul.pagination li.active { background-color: #4d4d4d; }

ul.pagination li.active a { color: #fff; }

ul.pagination li a { color: #555; font-weight: bold; font-size: 11px; }

/* @end */

/* @group Breadcrumbs */

.breadcrumb { margin-bottom: 5px; }

.breadcrumb .fl { margin: 0px; padding: 0px; }

.breadcrumb div { font-weight: bold; background-repeat: no-repeat; margin-bottom: 3px; margin-right: 2px; padding: 5px 6px 6px 12px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }

.breadcrumb .first, .breadcrumb .middle { color: #8e8e8e; padding-left: 3px; }

.breadcrumb .main { color: #fff; padding-left: 5px; float: left; background-color: #35619b;  }

.breadcrumb .main a.cancel { position: relative; top: 0px; }

.breadcrumb .middle { white-space: nowrap; overflow: hidden; float: left; background-color: #fff; border: 1px solid #ccc; }

.breadcrumb span.truncated { display: inline; }

.breadcrumb span.full { display: none; }

.breadcrumb div:hover span.truncated { display: none; }

.breadcrumb div:hover span.full { display: inline; }



/* @end */

/* @group VVO Specific */

table.data_table th.suma { width: 100px; }

table.data_table th.podiel { width: 53px; }

table.data_table td.suma { text-align: right;}

table.data_table td.podiel { text-align: right; }

table.data_table th.firma { width: 240px; }

table.data_table td.firma .fl, table.data_table td.org .fl { width: 205px; }

table.data_table th.hodnota { width: 120px; }

table.data_table th.datum { width: 80px; }

span.icon_report { display: block; background: url(../images/report_icons.png) no-repeat 0 -20px; padding-left: 27px; }

a.active span.icon_report { display: block; background: url(../images/report_icons.png) no-repeat 0 0; padding-left: 27px; }

span.icon_facts { display: block; background: url(../images/report_icons.png) no-repeat 0 -60px; padding-left: 27px; }

a.active span.icon_facts { display: block; background: url(../images/report_icons.png) no-repeat 0 -40px; padding-left: 27px; }

/* @end */

/* @group Search */

form.reports-search input { padding: 5px 30px 5px 5px; }

form.reports-search input.loading { background: url(../images/input_loader.gif) no-repeat 185px 4px; }

div.search {  }

div.search div.search_legend { color: #424242; font-size: 15px; width: 119px; padding-top: 13px; }

input.large { border: 1px solid #eeeeee; color: #3c3c3c; font-size: 17px; background: url(../images/input_large_background.png) repeat-x; padding-right: 10px; padding-left: 10px; }

input.search_button { background: transparent url(../images/search_button.png) no-repeat 0 0; border: none; text-indent: -99999px; width: 147px; height: 44px; position: relative; top: -2px; margin-left: 5px; cursor: pointer; }

input.search_button:active { background-position: 0 -49px; }

div.search input.large { width: 620px; }

table.search_results tr td a { color: #313131; font-size: 12px; }

table.search_results tr td a:hover { text-decoration: none; }

table.search_results tr td a em { font-weight: normal; font-style: normal; background-color: #fbfb67; }



/* @end */

/* @group Textile */

.textile * li {
	list-style-type: square;
	list-style-position: outside;
	padding-left: 0;
	margin-left: 28px;
}

.textile {
	font-size: 12px;
	line-height: 150%;
	width: 600px;
	text-align: justify;
}

.textile h1 {
	padding-bottom: 15px;
}



/* @end */

div.chart { text-align: center; }

/* @group Dimension Table */

table.dimension {  }

table.dimension td { padding: 5px; }


/* @end */
