:javascript
  (function(){
    var json_data = #{table.to_json};
    var data = [];
    for(i in json_data) {
      data.push([json_data[i][0], parseInt(json_data[i][1])]);
    }
    google.setOnLoadCallback(function(){
      var table = new google.visualization.DataTable();
      table.addColumn('string', 'Label');
      table.addColumn('number', 'Value');
      table.addRows(data);

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.ColumnChart(document.getElementById('chart_#{table.object_id}'));
      chart.draw(table, {width: 900, height: 240, is3D: true, legend: 'none'});
    });
  })();
  
  
          
%div{:id => "chart_#{table.object_id}"}