%table.data_table
  %tr
    - table.columns.each do |col|
      %th{:class => col.identifier}= col.label
    
  - table.rows.each_index do |row|
    %tr{:class => cycle("even", "odd")}
      - table.rows[row].each_index do |col|
        %td
          = table.formatted_value_at(row, col)