.note
  - if params[:egg]
    Ši to cale pohubil, spokojny?
  - else
    Vyskytla sa chyba.
    %br
    %br
    %small Vieme o tom a pokusíme sa to čo najskôr opraviť.
    %br
    %small Ďakujeme za trpezlivosť.