.tab_bar.clearfix
  %a.tab{:href => report_path(params[:report]||"all", :cut => @slicer.to_param), :class => params[:controller] == "reports" ? "active" : ""}
    %span Prehľad
  %a.tab{:href => facts_path(:cut => @slicer.to_param, :report => params[:id]), :class => params[:controller] == "facts" ? "active" : ""}
    %span Zmluvy