.status
  - @slicer.cuts.each do |dim, path|
    .breadcrumb.clearfix
      .main
        %a.cancel{:href => url_for(params.merge(:cut => @slicer.without(dim).to_param))}
          = image_tag "cancel_white.png"
        %span= dim.label
      - levels = dim.default_hierarchy.levels[0..(path.count-1)]
      - html_class = "first"
      - current_level = 1
      - levels.each do |level|
        %div{:class => html_class}
          %a{:href => url_for(params.merge(:cut => @slicer.clone.strip_path(dim, level).to_param))}
            %span.truncated
              = truncate(dim.detail_for_path(path)[level.short_description_field.to_sym].to_s, :length => 15)
            %span.full
              = dim.detail_for_path(path)[level.short_description_field.to_sym]
        - html_class = "middle"
        - current_level += 1
      .last