.status.clearfix
  - @slicer.cuts.each do |dim, path|
    .fl.cut
      %em= "%s:" % dim.label
      - levels = dim.default_hierarchy.levels[0..(path.count-1)]
      - levels.each do |level|
        = dim.detail_for_path(path)[level.short_description_field.to_sym]
      %a{:href => report_path(params[:id]||"all", :cut => @slicer.without(dim).to_param)}
        = image_tag "status_remove.png"