.status.clearfix
  - @slicer.cuts.each do |dim, path|
    .fl.cut
      %em= "%s:" % dim.label
      = dim.detail_for_path(path)[:name] || path.join(" ")
      %a{:href => create_report_path(params.merge(:cut => @slicer.without(dim).to_param))}
        = image_tag "status_remove.png"